<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>593084094988-vfqjd4rug2ohvfioke6u03fe4mqbndo1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.593084094988-vfqjd4rug2ohvfioke6u03fe4mqbndo1</string>
	<key>API_KEY</key>
	<string>AIzaSyA0owaq7xP75tlLbWVT0K-7o4fhiZwXP4k</string>
	<key>GCM_SENDER_ID</key>
	<string>593084094988</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.app</string>
	<key>PROJECT_ID</key>
	<string>trust-broker-c7fa1</string>
	<key>STORAGE_BUCKET</key>
	<string>trust-broker-c7fa1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:593084094988:ios:7e89ace9af6b4a7cbeec29</string>
</dict>
</plist>